
body{
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    display: grid;
    place-items: center;

}

@tailwind base;
@tailwind components;
@tailwind utilities;



/*  FOOTER */
.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 5px;}
.attribution a { color: hsl(228, 45%, 44%); }